header {
    background-color: rgb(20, 28, 44);
    color: white;
}

main {
    background-color: aqua;

}

.grid-wrapper{
   display: flex;
   flex-wrap: wrap;
}


.cell {
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-10{
    width: calc(100% / 10);
}

.cell-9{
    width: calc(100% / 9);
}

.cell-7{
    width: calc(100% / 7);
}

.cell.bg-selected{
    background-color: rgb(0, 0, 97);
    color: white;
}